/* common.css
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 * 
 */

.error {
	color: red;
	font-weight: bolder;
}

.message {
	color: red;
	font-weight: bolder;
}



#horario {
    overflow:   none;
    position:   relative;
    margin-bottom: 10px;
    border: 2px solid #1223a1;
	background-color: #b3c9ff;
	border-radius: 5px;
	text-align: center;
}

#horario:hover{
  cursor: pointer;
}

#horarioNoDisponible {
    overflow:   none;
    position:   relative;
    width:      100%;
    margin-bottom: 10px;
    border: 2px solid #1223a1;
	background-color: red;
	border-radius: 5px;
	text-align: center;
}


#chatbox {
    overflow:   none;
    position:   relative;
    width:      100%;
    height:     300px;
    border: 2px solid #1223a1;
	background-color: #b3c9ff;
	border-radius: 5px;
}
#chatmessages
{
    overflow:   auto;
    position:   absolute;
    bottom:     0;
    width: 100%;
    max-height: 300px;
}
#chatmessages div {
    border: 3px solid #002965;
    border-radius: 5px;
    margin:5px;
    padding:10px;
}
.chatmessageleft{
  text-align:left;
}

.chatmessageleft_nohover{
  text-align:left;
}

.chatmessageleft:hover{
	outline: 4px solid #60becc;
	border-radius: 5px;
	cursor: pointer;
}

.chatmessageleft_selected{
	background-color: #60becc;
	
}

.chatmessageleft_unselected{
	background-color: #95e1ec;
}

.chatmessageright{
  text-align:right;
  background-color: white;
}

.colorMessage{
	background-color: #95e1ec;
}

.inline {
	float:left;
}

.messageFor{
	font-weight: bold;
	font-style: italic;
}